deployment/statemachine/stateMachine.asl.json
{
  "Comment": "Compare face flow",
  "StartAt": "Pass",
  "States": {
    "Pass": {
      "Type": "Pass",
      "Next": "CompareFaces",
      "Parameters": {
        "bucketName.$": "$.bucket.name",
        "input.$": "$.object.key"
      }
    },
    "CompareFaces": {
      "Type": "Task",
      "Parameters": {
        "SimilarityThreshold": 70,
        "SourceImage": {
          "S3Object": {
            "Bucket.$": "$.bucketName",
            "Name": "source.jpeg"
          }
        },
        "TargetImage": {
          "S3Object": {
            "Bucket.$": "$.bucketName",
            "Name.$": "$.input"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:rekognition:compareFaces",
      "Next": "If Face Match?",
      "Catch": [
        {
          "ErrorEquals": [
            "Rekognition.InvalidParameterException"
          ],
          "Next": "Not Human"
        }
      ]
    },
    "Not Human": {
      "Type": "Fail"
    },
    "If Face Match?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.FaceMatches[0]",
              "IsPresent": true
            },
            {
              "Variable": "$.FaceMatches[0].Face.Confidence",
              "NumericGreaterThan": 70
            }
          ],
          "Next": "Success"
        }
      ],
      "Default": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}