services/v1/deployment/statemachine/stateMachine.asl.json
{
  "Comment": "Compare face flow",
  "StartAt": "Map input",
  "States": {
    "Map input": {
      "Type": "Pass",
      "Next": "CompareFaces",
      "Parameters": {
        "bucket_name.$": "$.bucket.name",
        "input.$": "$.object.key"
      }
    },
    "CompareFaces": {
      "Type": "Task",
      "Parameters": {
        "SimilarityThreshold": 70,
        "SourceImage": {
          "S3Object": {
            "Bucket.$": "$.bucket_name",
            "Name": "source.jpeg"
          }
        },
        "TargetImage": {
          "S3Object": {
            "Bucket.$": "$.bucket_name",
            "Name.$": "$.input"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:rekognition:compareFaces",
      "Next": "Map CompareFaces",
      "Catch": [
        {
          "ErrorEquals": [
            "Rekognition.InvalidParameterException"
          ],
          "Next": "Map face not match",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.output"
    },
    "Map CompareFaces": {
      "Type": "Pass",
      "Next": "If Face Match?",
      "Parameters": {
        "bucket_name.$": "$.bucket_name",
        "input.$": "$.input",
        "faceMatches.$": "$.output.FaceMatches"
      }
    },
    "If Face Match?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.faceMatches",
              "IsPresent": true
            },
            {
              "Variable": "$.faceMatches[0]",
              "IsPresent": true
            },
            {
              "Variable": "$.faceMatches[0].Face.Confidence",
              "NumericGreaterThan": 70
            }
          ],
          "Next": "Generate code"
        }
      ],
      "Default": "Map face not match"
    },
    "Generate code": {
      "Type": "Task",
      "Resource": "${GenerateCodeFunctionArn}",
      "Parameters": {
        "Payload.$": "$"
      },
      "ResultPath": "$.code",
      "Next": "Send code"
    },
    "Map face not match": {
      "Type": "Pass",
      "Next": "Send photo to mobile",
      "Parameters": {
        "input.$": "$.input"
      }
    },
    "Send photo to mobile": {
      "Type": "Task",
      "Resource": "${SendPhotoToMobileArn}",
      "Next": "Success"
    },
    "Send code": {
      "Type": "Task",
      "Resource": "${SendCodeFunctionArn}",
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}